{% extends "base.html" %}
{% load staticfiles %}

{% block headline %}Information{% endblock %}

{% block page_content %}

 <h3>Vad är MUR?</h3>
 <p>MUR är studierådet för matematiker som studerar på Lunds universitet. Vår verksamhet riktar sig främst mot matematiker, men andra är givetvis välkomna att se vad vi erbjuder. Vi bedriver utbildningsfrågor, men ett viktigt mål för oss är också att förbättra sammanhållning mellan mattestudenter på NatFak.</p>
 <h3>Hur går jag med?</h3>
 <p>Om du som matematikstudent skickar ett mail till <a href ="mailto:mur-ordf@luna.lu.se">mur-ordf@luna.lu.se</a> så lägger de in dig i en maillista så att du får information om allt som händer. Annars kan du gå med i facebookgruppen (länk uppe till höger), eller bara komma till evenemang som du hittar här på sidan!</p> 
 <h3>Var kan man hitta MUR?</h3>
 <p>Vi NatFak-matematiker har nyligen fått ett rum där vi brukar sitta och diskutera, luncha, spela spel eller plugga tillsammans. Rummet ligger på första våningen i den norra korridoren. Man behöver access för att komma in i korridoren, men vanligt STIL-id fungerar för det.</p>
 <img src = "{% static 'assets/pictures/rum.jpg' %}" alt = "karta till MUR-rummet" width = "600" height = "400"/> 

{% endblock %}

{% block navigation %}
 <p><a href="/news/">Nyheter</a></p>
 <p><a href="/information/" class="currentPage">Om MUR</a></p>
 <p><a href="/kontakt/">Kontakt</a></p>
{% endblock %}
