{% extends "base.html" %}
{% load staticfiles %}

{% block headline %}Kontakt{% endblock %}

{% block page_content %}
<p>Kontakta gärna om frågor som har med vår verksamhet att göra.</p>
 <h3>Mailadresser</h3>
 <p>Ordförande: <a href ="mailto:mur-ordf@luna.lu.se">mur-ordf@luna.lu.se</a></p>
 <p>Vice Ordförande: <a href ="mailto:mur@luna.lu.se">mur@luna.lu.se</a></p>
 <h3>Fysisk adress</h3>
 <p>Sölvegatan 18, 223 62 Lund</p>
{% endblock %}
