@charset "UTF-8";
/* CSS Document */

html,body,div {margin:0px;padding:0px;}

#header {padding:10px;height:86px;}
#headerlogo {margin:0px;position:absolute;top:0px;left:280px;}
#header a {text-decoration:none;width:600px;}
#loginfield {background-color:#DDD;color:#333;position:absolute;top:20px;left:1190px;text-align:center;font-style:italic;font-family:"Times New Roman", Times, serif;}
#loginpass {background-color:#DDD;color:#333;position:absolute;top:40px;left:1190px;text-align:center;font-style:italic;font-family:"Times New Roman", Times, serif;}
#loginbutton {background-color:#FB4;color:#222;position:absolute;top:70px;left:1190px;font-style:italic;font-family:"Times New Roman", Times, serif;}
#loginbutton:hover {background-color:#999;cursor:pointer;}

hr {color:#49D;}
body {font-family:"ubuntu","trebuchet ms","helvetica","arial","freesans",sans-serif; background-image: url("../pictures/chalkboard.jpg")}

#icons {position:relative}
#rss {position:absolute;top:-22px;right:40px;}
#facebook {position:absolute;top:-22px;right:72px;}

#wrapper {max-width:1000px; background-color:#CC7; height:auto; position:absolute; top:105px; margin-left:160px; width:1000px; padding:15px; box-shadow:10px 10px 20px #666;}
#wrapper h2 {color:#222;text-align:center;}

#nav {background-color:#DDB; float:left; width:160px; margin-top:60px; -webkit-border-radius:10px;-moz-border-radius:10px; border-radius:10px; border:1px solid #49D}
#nav p {position:relative;}
#nav a:link, #nav a:visited {background-color:#111;font-style:italic;font-family:"Times New Roman", Times, serif;height:28px; width:1500px; color:#FB4;-webkit-border-radius:10px;-moz-border-radius:10px; border-radius:8px; text-decoration:none; border:1px solid #49A}
#nav a:hover, #nav a:active {background-color:#999;}
#nav a.currentPage {background-color:#FB4; color:#111;}
#nav a {text-align:center;font-size:large;padding:7px;margin-left:30px;max-width:70px;}

#box1 {background-color:#111; padding:10px; float:left; width:160px; margin-top:60px; -webkit-border-radius:10px;-moz-border-radius:10px; border-radius:10px; border:1px solid #49D}

#content {background-color:#DDB; padding:10px; float:right; width:780px; margin-top:60px; -webkit-border-radius:10px;-moz-border-radius:10px; border-radius:10px; border:1px solid #49D}
#content img.pictures {max-height: 100%; max-width: 100%; margin-bottom:20px;}

#footer p {margin:0; font-size:small; font-style:italic; text-align:center;}
#footer {background-color:#CC7; color:#222;padding:8px; clear:both; width:980px;margin-bottom:10px;}

.event img {visibility:hidden;}
#updateEvents {visibility:hidden;}

@media screen and (max-width:480px) {
	#wrapper {margin-left:0px; width:400px; margin:10px;}
	#nav {width:150px; position:absolute;margin-top:0px;}
	#content {width:400px; padding:4px; margin-top:140px;margin-left:6px;}
	#loginfield, #loginpass, #loginbutton {left:0px;}
	#headerlogo {visibility:hidden;}
	#footer {width:395px;}
}


