{% load staticfiles %}
<!-- This 'load' made it possible to include css files and images by using "{% static 'assets/...' %} -->
<!DOCTYPE HTML>

<html>
 <head>
  <title> MUR - Matematiker Utan Randvillkor</title>
  <!-- all css files are saved in ROOT/assets/, but do not change anything in it. Rather, change things in the /static/ subfolders and run: python manage.py collectstatic-->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" media="all" />
  <script type="text/javascript" src="js/indexscript.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name = "Keywords" content = "MUR, matematik, lund, universitet, LUNA, naturvetenskap, studieråd">
  <meta name = "Description" content = "MUR - Matematiker Utan Randvillkor, studierådet för alla matematikstuderande vid Lunds Universitet. Vi bedriver bland annat utbildningsfrågor, men fokuserar även på en bra sammanhållning bland alla matematikstudenter genom olika events">
 <!--Linjerna ovan gör det lättare för sökrobotar att hitta sidan-->
 </head>
  <body>
  <div id = "header">
  <a href="index.html" id = "headerlogo"><img src = "{% static "assets/pictures/murbild.png" %}" alt = "header" height = "110"/></a>
  <input type = "button" id = "loginbutton" value ="Login">
  <input type = "text" id = "loginfield" value ="Användare">
  <input type = "password" id = "loginpass" value ="Lösenord">
   <!--Dessa bildar inloggningsfönstret-->
 </div>
 <div id ="wrapper">
 <h2>{% block headline %}Nyheter{% endblock %}</h2>
 <div id = "icons">
 <p><a href="news.xml" id = "rss"><img src = "{% static 'assets/pictures/rss.png' %}" alt = "rss-icon" width = "20" height = "20"/></a></p>
 <p><a href="https://www.facebook.com/groups/matematikerutanrandvillkor/?fref=ts" id = "facebook"><img src = "{% static 'assets/pictures/facebook.jpg' %}" alt = "facebook-icon" width = "20" height = "20"/></a></p>
 </div>
  <hr>
 <div id ="content">
 {% block page_content %}{% endblock %}
 </div>
 <div id ="nav">
 {% block navigation %}
 <p><a href="/news/">Nyheter</a></p>
 <p><a href="/information/">Om MUR</a></p>
 <p><a href="/kontakt/">Kontakt</a></p>
 {% endblock %}
 </div>
  <div id = "footer">
 </div>
 </div>

 </body>
</html>
