{% extends "base.html" %}
{% load staticfiles %}

{% block headline %}Nyheter{% endblock %}

{% block page_content %}
{% for news_article in news %}
<h3><a href="/news/get/{{ news_article.id }}/">{{ news_article.title }}</a></h3>
{{ news_article.body }}
{% endfor %}
{% endblock %}
